* {
      margin: 0;
      padding: 0;
}

body {
      font-family: "Open Sans", sans-serif;
}

/* shared/common styles */
.primary-btn {
      background-color: #FD6E0A;
      color: white;
      font-weight: 700;
      border: none;
      padding: 15px 25px;
}

.section-title {
      color: #181818;
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 20px;
}

.section-description {
      color: #757575;
      margin-bottom: 15px;
}

/* Header related styles */

/* Navbar */
header {
      background-color: #FFF8F3;

      background-image: url('../images/header_bg.png'), url('../images/developer.png');
      background-repeat: no-repeat;
      background-position: right bottom, left;
      padding: 50px 0 0 0;
      margin-bottom: 150px;
}

/* Mary style */
header nav h4 {
      font-size: 45px;
      font-weight: 800;
}

header nav h4 span {
      color: #FD6E0A;
}

/* nav list items */
header nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 150px;
}

header nav ul {
      display: flex;
      align-items: center;
      gap: 24px;
}

header nav ul li {
      list-style: none;
}

header nav ul li:hover {
      background-color: aliceblue;
}

header nav ul li a {
      text-decoration: none;
      font-size: 20px;
      padding: 10px 20px;
      display: block;
      color: #474747;
}

/* Banner styles */
.banner-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.banner-container img {
      width: 550px;
}

.banner-tittle1 {
      font-size: 45px;
      font-weight: 600;
      color: #474747;
}

.banner-tittle2 {
      color: #181818;
      font-size: 80px;
      font-weight: 700;
}

.banner-description {
      color: #757575;
      font-size: 18px;
}

.banner-content {
      padding-left: 150px;
}

.banner-buttons {
      margin-top: 20px;
}

/* Header Styles end */

/* Main Styles */

/* About me section */
.about-me-section {
      background-color: #FFF8F3;
      border-radius: 10px;
      /* max-width: 1140px; */
      max-width: 800px;
      margin: 0 auto 150px;
      padding: 150px 200px;
      text-align: center;
      border: 2px solid red;
}

.about-info {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
}

.about-info-title {
      color: #757575;
}

.about-info-description {
      color: #474747;
      font-weight: 600;
}

/* what i do section */
.what-i-do-section {
      max-width: 1140px;
      margin: 0 auto 150px;
      text-align: center;
      padding: 20px;
      border: 2px solid red;

}

.what-i-do-course-container {
      display: flex;
      margin-top: 40px;
      gap: 24px;
      text-align: start;
}

.what-i-do-course {
      background-color: #FFFFFF;
      padding: 24px;
      box-shadow: 3px 3px 5px #757575, -3px -3px 5px #757575;
      border-radius: 10px;
}

.course-title {
      font-size: 20px;
      font-weight: 600;
      margin: 20px 0;
}

.course-description {
      color: #757575;
}

/* Summery of my resume section */
.my-resume-section {
      max-width: 1140px;
      margin: 0 auto 150px;
      align-items: center;
      padding: 20px;
}

#resume-title {
      text-align: center;
      margin-bottom: 50px;
}

.my-education-title {
      font-size: 30px;
      font-weight: 700;
      color: #474747;
      margin-bottom: 20px;
}

.resume-content {
      display: flex;
      gap: 24px;
}

.education-container {
      margin-bottom: 20px;
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 15px;
}

.education-title {
      color: #474747;
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 10px;
}

.education-institute {
      color: #757575;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 7px;
}

.education-description {
      color: #757575;
}

.resume-btn {
      display: flex;
      justify-content: center;
}

/* Footer section */
.footer-container {
      padding: 100px 20px;
}

.portfolio-footer {
      max-width: 1140px;
      margin: 0 auto 150px;
      display: flex;
      gap: 30px;
      justify-content: space-between;
}

.footer-content {
      width: 50%;
}

.footer-form {
      width: 50%;
}

.footer-content-description {
      color: #474747;
}

.footer-icons {
      margin-top: 20px;
}

.footer-icons img {
      margin-right: 10px;
}


.footer-form input[type="text"],
input[type="email"],
textarea {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 20px 0 20px 15px;
      border: none;

}

.footer-form textarea::placeholder,
input::placeholder {
      color: #757575;
}

.hide {
      display: none;
}

/* Responsive media query */

/* mobile or small device */
@media screen and (max-width: 576px) {

      /* header section */
      header nav {
            flex-direction: column;
            padding: 0;
      }


      /* banner section */
      .banner-container {
            flex-direction: column-reverse;
      }

      .banner-container img {
            width: 100%;
      }

      .banner-tittle2 {
            font-size: 30px;
      }

      .banner-description {
            margin-top: 10px;
            font-size: 14px;
      }

      .banner-content {
            padding: 20px;
      }

      /* about me section */
      .about-me-section {
            padding: 20px;
            margin-bottom: 20px;
      }

      .about-info {
            flex-direction: column;
      }

      .about-info div {
            margin-bottom: 20px;
      }

      /* what i do section */
      .what-i-do-course-container {
            flex-direction: column;
      }

      .what-i-do-section {
            margin-bottom: 20px;
      }

      /* my resume section */
      .my-resume-section {
            margin-bottom: 20px;
      }

      .resume-content {
            flex-direction: column;
            text-align: center;
      }

      /* footer section */
      .footer-container {
            padding: 30px 20px;
      }

      .portfolio-footer {
            margin-bottom: 20px;
            flex-direction: column;
      }

      .footer-content {
            width: 100%;
      }

      .footer-form {
            width: 100%;
      }

}

/* tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {

      /* header section */
      header nav {
            flex-direction: column;
            padding: 0;
      }


      /* banner section */
      .banner-container {
            flex-direction: column-reverse;
      }

      .banner-container img {
            width: 100%;
      }

      .banner-tittle2 {
            font-size: 40px;
      }

      .banner-description {
            margin-top: 10px;
            font-size: 16px;
      }

      .banner-content {
            padding: 20px;
      }

      /* about me section */
      .about-me-section {
            padding: 20px;
            margin-bottom: 20px;
      }

      .about-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
      }

      .about-info div {
            margin-bottom: 20px;
      }

      /* what i do section */
      .what-i-do-course-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
      }

      .what-i-do-section {
            margin-bottom: 20px;
      }


      /* my resume section */
      .my-resume-section {
            margin-bottom: 20px;
      }

      .resume-content {
            flex-direction: column;
            text-align: center;
      }

      /* footer section */
      .footer-container {
            padding: 30px 20px;
      }

      .portfolio-footer {
            margin-bottom: 20px;
            flex-direction: column;
      }

      .footer-content {
            width: 100%;
      }

      .footer-form {
            width: 100%;

      }


}